.header {
}
.layout {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  background-color: #fff;
}
.header_top {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}
.header_left {
  display: flex;

  justify-content: center;
  align-items: center;
}
.header_left_logo {
}
.header_left_menu {
}
.header_left_menu ul {
  display: flex;
}
.header_left_menu ul li {
}
.header_right {
}
.header_right_link {
}
.header_right_login {
}
